html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
}
.page-header img{
    vertical-align: middle;
}
.page-header .h1{
    /* display: flex;
    align-items: center;
    height: 80px ;*/
    display: inline;
    vertical-align: middle;

    
}
main{
    background-color: #f6f8f9;
    width: 100%;
    padding: 50px;
}
.container{

    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
}
.buttons{
    padding-top: 10px;
    margin-left: 30px;
}
.active_button{
    padding: 10px 15px;
    background-color: #47adf1;
    border: 1px #47adf1 solid;
    border-radius: .5rem;
    color: white;
}
.disabled_button{
    padding: 10px 15px;
    background-color: white;
    border: 1px #c5cbd0 solid;
    border-radius: .5rem;
    color: #c5cbd0;

}

.arrow{
    font-size: .8rem;

}
h2{
    padding-left: 40px;
    vertical-align: middle;
}
span{
    vertical-align: middle;
}
ul{
    list-style: none;
    line-height: 2.8rem;
    font-size: 1.3rem;
    padding-bottom: 20px;
}
.check{
    padding:3px 5px;
    background-color: white;
    border: 1px green solid;
    border-radius: 1rem;
    color: green;
    vertical-align: middle;
}
.cross{
    padding:3px 6px;
    background-color: white;
    border: 1px red solid;
    border-radius: 1rem;
    color: red;
    vertical-align: middle;
}
li span{
    vertical-align: middle;
}
.button{
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 1rem;
    color: white;
    vertical-align: middle;
}
.editorial{
    
    background-color: #45abea;
    border-color: #45abea;
}
.q1_goals{
    background-color: #9c72e4;
    border-color: #9c72e4;
}
.recruiting{
    background-color: #64c0a9;
    border-color: #64c0a9;
}
.mobile{
    background-color: #f29e33;
    border-color: #f29e33;
}
.website{
    background-color: #d863a1;
    border-color: #d863a1;
}
.sales{
    background-color: #b0c926;
    border-color: #b0c926;
}
