html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
}
header{
    display: flex;
    align-items: center;
}
main{
    background-color: #f6f8f9;
}